#header{
  background-image: url("4.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: background 3s ease-out;
  -moz-transition: background 3s ease-out;
  -o-transition: background 3s ease-out;
  transition: background 3s ease-out;
}
@import url('https://fonts.googleapis.com/css?family=Francois+One');


#wel{
font-family: 'Francois One', sans-serif;
  width: 50%;
  height: 50%;
  margin: auto;
  position: relative;
  padding-top: 20%;
  text-align: center;
  font-size: 150%;
  color: white;
  text-shadow:2px 2px black;
}

#sec{
  width: 100%;
  height: 25%;
  background-color: white;
}

#footer{
  width: 100%;
  height: 100%;
  background-color: #F4F3F3;
}

#footer h1{
  font-family: 'Francois One', sans-serif;
    width: 50%;
    height: 50%;
    margin: auto;
    position: relative;
    padding-top: 4%;
    text-align: center;
    font-size: 200%;
    color: black;
}

#footergdn{
  width: 100%;
  height: 25%;
  background-color: red;
  border-top: 1px solid black;

}

*{
    margin: 0;
    padding: 0;
}

#wel2{
  font-family: 'Francois One', sans-serif;
    width: 50%;
    height: 50%;
    margin: auto;
    position: relative;
    padding-top: 4%;
    text-align: center;
    font-size: 150%;
    color: white;
    text-shadow:2px 2px black;
}

#f1{
  width: 25%;
  height: 40%;
}

#i1{
  width: 70%;
  height: 70%;
  padding-left: 30%;

}
